body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#inputForPassword,
#inputForUsername,
#inputForEmail,
#submitBtn {
  background-color: rgb(36, 36, 36);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  margin-top: 8px;
}
